@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

video {
  object-fit: cover;
}

* {
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

#CircleButton {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

#CircleButton:hover {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

h1 {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
}

li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  list-style-type: circle;
  /* text-transform: uppercase; */
}

.tidslinje a {
  border-bottom: solid 0.5px black;
}
.tidslinje a:hover {
  color: blue;
  border-bottom: solid 0.5px blue;
}

.buttonContainer {
  height: 130px;
  width: 130px;
  display: grid;
  justify-content: center;
}

.custom-button {
  display: flex;
  /* width: 100px;
  height: 100px;  */
  border-radius: 50%;
  border-radius: 50%; /* Makes it a circle */
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Pointer on hover */

  background: linear-gradient(to bottom right, #1549ff, #061fdf, #002092);
  aspect-ratio: 1 / 1; /* Ensures a square shape */

  color: white;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background: linear-gradient(to bottom right, #c02425, #fe675c, #ff872a);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1);
}

/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
